html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana;
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
.header {
  height: 85px;
  width: 1200px;
  color: #fffff;
  float: left;
  background-color: #2ED573;
}

.header-list {
  float: left;
  padding: 29px 25px;
  font-size: 17px;
  color: #fff;

}

.header-logo {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 60px;
  color: #fff;
}

.header-list a {
    padding-right: 15px;
    color: #fff;
}

img.logonya {
    width: 640px;
    height: 304px;
    float: right;
    margin-top: -25px;
}

.main h1,h2 {
    padding-left: 60px;
    letter-spacing: 1px;
    color: #fff;
    padding-top: 15px;
}

.main {
    width: 1200px;
    background-color: #7BED9F;
    padding-top: 195px;
    padding-bottom: 185px;
}
